@-moz-document domain("fandom.com") {
/* hide floating enlarge button */
.page-side-tools__wrapper {
	display: none;
}
/* hide sticky header */
.fandom-sticky-header {
  display: none;
}
/* hide global navbar */
.global-navigation {
	display: none;
}
.main-container {
	margin-left: 0;
	width: 100%;
}

#WikiaBar {
	display: none;
}

#mixed-content-footer {
	display: none;
}

.page-content p {
	margin: 0.5em 0;
}
.mw-parser-output > ul > li:first-of-type {
	margin-top: 1.5em;
}
.page-content {
	font-size: 0.875em;
}
.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
	padding: 0.2em 0.4em !important;
}
.page-header__title {
	font-size: 1.8em;
	border-bottom: 1px solid #a2a9b1;
}
.page-header__top {
	font-size: 0.75em;
}
.toc ul li a {
	border-radius: 0px;
	padding: 0;
	color: var(--theme-link-color);
}
.toc ul li a:hover {
	background: none;
}
.toc ul li a:hover > .tocnumber {
	color: rgba(var(--theme-page-text-color--rgb),.6);
}
.toc ul li a:hover > .toctext {
	text-decoration: underline;
}
.toc .toctitle {
	padding: 6px;
}
.toctogglespan .toctogglelabel, .wds-link, a, ul.gallery.mw-gallery-slideshow .gallerycarousel > div .mw-gallery-slideshow-caption a, ul.gallery.mw-gallery-slideshow li.gallerybox .gallerytext a {
	transition: none;
}
.toctogglespan .toctogglelabel:active, .toctogglespan .toctogglelabel:focus, .toctogglespan .toctogglelabel:hover, .wds-link:active, .wds-link:focus, .wds-link:hover, a:active, a:focus, a:hover, ul.gallery.mw-gallery-slideshow .gallerycarousel > div .mw-gallery-slideshow-caption a:active, ul.gallery.mw-gallery-slideshow .gallerycarousel > div .mw-gallery-slideshow-caption a:focus, ul.gallery.mw-gallery-slideshow .gallerycarousel > div .mw-gallery-slideshow-caption a:hover, ul.gallery.mw-gallery-slideshow li.gallerybox .gallerytext a:active, ul.gallery.mw-gallery-slideshow li.gallerybox .gallerytext a:focus, ul.gallery.mw-gallery-slideshow li.gallerybox .gallerytext a:hover {
	color: var(--theme-link-color);
}
a:visited {
	color: #0b0080;
}
}
/* vim:se fdm=marker fmr={,}: */
