@-moz-document domain("fandom.com") {
/* hide floating enlarge button */
.page-side-tools__wrapper {
	display: none;
}
/* hide sticky header */
.fandom-sticky-header {
  display: none;
}
/* hide global navbar */
.global-navigation {
	display: none;
}
.main-container {
	margin-left: 0;
	width: 100%;
}

#WikiaBar {
	display: none;
}

#mixed-content-footer {
	display: none;
}

.page-content p {
	margin: 0.5em 0;
}
.page-content {
	font-size: 0.875em;
}
.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
	padding: 0.2em 0.4em !important;
}
.page-header__title {
	font-size: 1.8em;
	border-bottom: 1px solid #a2a9b1;
}
.page-header__top {
	font-size: 0.75em;
}
.toc ul li a {
	border-radius: 0px;
	padding: 0;
	transition-property: none;
	color: var(--theme-link-color);
}
.toc ul li a:hover {
	background: none;
}
.toc ul li a:hover > .tocnumber {
	color: rgba(var(--theme-page-text-color--rgb),.6);
	transition-property: none;
}
.toc ul li a:hover > .toctext {
	color: var(--theme-link-color--hover);
}
.toc .toctitle {
	padding: 6px;
}
}
/* vim:se fdm=marker fmr={,}: */
