@-moz-document domain("gist.github.com"), regexp("^https://github\\.com/.*") {
/* align the header to the content as before */
header.GlobalNav {
  max-width: 1220px;
  margin: auto;
}

.application-main, .footer {
  max-width: 1280px;
  margin: auto;
}

body {
  font-family: sans-serif;
}

code, pre, tt, .blob-code-inner, .blob-num {
  font-family: monospace;
}

.Box-header .text-mono{
  font-family: monospace !important;
}

.Box-header--blue, .Box-body {
  padding-top: .5em;
  padding-bottom: .5em;
}

.pagehead {
  margin-bottom: 16px !important;
}

.avatar, .avatar-user, .rounded-1 {
  border-radius: 0 !important;
}

/* only slightly round buttons */
.btn {
  border-radius: 2px;
}

/* last changed date is longer than pre-defined 100px when using custom fonts. */
.text-right[role="gridcell"] {
  width: 120px !important;
}
}

@-moz-document url-prefix("https://github.com/copilot") {
header.AppHeader {
  max-width: unset;
  margin: unset;
}

.application-main, .footer {
  max-width: unset;
  margin: unset;
}
}
/* vim:se fdm=marker fmr={,}: */
